<%- include('partials/header') %>
    <form id="appointmentForm">
        <!-- <label for="patientName">Patient Name:</label>
        <input type="text" id="patientName" name="patientName" required><br> -->

        <label for="patientName">Patient Name:</label>
        <select id="patientName" name="patientName" required></select><br>
        
        <!-- <label for="doctorName">Doctor's Name:</label>
        <input type="text" id="doctorName" name="doctorName" required><br> -->
        <label for="doctorName">Doctor's Name:</label>
        <select id="doctorName" name="doctorId" required></select><br>
        
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br>
        
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required><br>
        
        <label for="reason">Reason:</label>
        <textarea id="reason" name="reason" required></textarea><br>
        
        <button type="submit">Book</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
              
            fetch('doctors')
                .then(response => response.json())
                .then(doctors => {

                    const doctorSelect = document.getElementById('doctorName');
                    doctors.forEach(doctor => {
                        const option = document.createElement('option');
                        option.value = doctor._id;
                        option.textContent = doctor.name;
                        doctorSelect.appendChild(option);
                    });
                });

            fetch('patients')
                .then(response => response.json())
                .then(patients => {
                    const patientSelect = document.getElementById('patientName');
                    patients.forEach(patient => {
                        const option = document.createElement('option');
                        option.value = patient._id;
                        option.textContent = patient.name;
                        patientSelect.appendChild(option);
                    });
                });
        });


        document.getElementById('appointmentForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = {
                patientId: document.getElementById('patientName').value,
                doctorId: document.getElementById('doctorName').value,
                date: document.getElementById('date').value,
                time: document.getElementById('time').value,
                reason: document.getElementById('reason').value
            };
            
            fetch('appointments', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.text())
            .then(data => {
                alert("Appointment Booked Successfully!");
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>

<%- include('partials/footer') %>
