<%- include('partials/header') %>

<link rel="stylesheet" href="./css/styles.css">
        <div class="link-container">
            <div class="link" onclick="location.href='schedule_appointment'">
                <h3>Schedule Appointment</h3>
            </div>
            <div class="link" onclick="location.href='view_update_patient_info'">
                <h3>View/Update Patient Info</h3>
            </div>
            <!-- Add more links as needed -->
        </div>

<%- include('partials/footer') %>
